<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Xiaomi Mi Robot Vacuum - Home Assistant 中文网</title>
    <meta name="author" content="Home Assistant China">
    <meta name="description" content="Instructions how to integrate your Xiaomi Mi Robot Vacuum within Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="http:/components/vacuum.xiaomi/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Xiaomi Mi Robot Vacuum">
    <meta property="og:site_name" content="Home Assistant 中文网">
    <meta property="og:url" content="http:/components/vacuum.xiaomi/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to integrate your Xiaomi Mi Robot Vacuum within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Xiaomi Mi Robot Vacuum">
    <meta name="twitter:description" content="Instructions how to integrate your Xiaomi Mi Robot Vacuum within Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant 中文网" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant 中文网</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">快速开始</a></li>
  <li><a href="/components/">组件</a></li>
  <li><a href="/docs/">使用文档</a></li>
  <li><a href="/cookbook/">范例</a></li>
  <li><a href="/developers/">开发文档</a></li>
  <li><a href="/blog/">博客</a></li>
  <li><a href="/help/">需要帮助？</a></li>
  <li><a href="https://bbs.hassbian.com/forum.php?from=github">中文论坛</a></li>
  <li><a href="https://home-assistant.io">英文官网</a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      Xiaomi Mi Robot Vacuum
    </h1>
  </header>
  <hr class="divider">
  <p>小米扫地机器人平台 <code class="highlighter-rouge">xiaomi_vacuum</code> 帮助你在 HA 中控制扫地机器人。</p>
<p>目前支持的控制指令有启动 <code class="highlighter-rouge">turn_on</code>， 暂停 <code class="highlighter-rouge">pause</code>，原地停止 <code class="highlighter-rouge">stop</code>，回到充电桩 <code class="highlighter-rouge">return_to_home</code>，关闭并回到充电桩 <code class="highlighter-rouge">turn_off</code>，定位 <code class="highlighter-rouge">locate</code>，定点打扫 <code class="highlighter-rouge">clean_spot</code>，设定吸力 <code class="highlighter-rouge">set_fanspeed</code> 以及远程控制。</p>
<h2><a class="title-link" name="getting-started" href="#getting-started"></a> Getting started</h2>
<p>请使用手机和米家 app 根据下述教程从 SQLite 文档中获取机器人的秘钥 token，从而将扫地机接入 HA 平台。</p>
<p>进行配置前，请确保在对应平台上已经安装<code class="highlighter-rouge">python-mirobi</code> 的依赖库 <code class="highlighter-rouge">libffi-dev</code>：</p>
<div class="language-bash highlighter-rouge"><pre class="highlight"><code>apt-get install libffi-dev
</code></pre>
</div>
<p class="note warning">
如果你的 HA 是在虚拟环境 <a href="/docs/installation/virtualenv/#upgrading-home-assistant">Virtualenv</a>下运行的，在运行下列命令前请确保已切换到虚拟环境。</p>
<div class="language-bash highlighter-rouge"><pre class="highlight"><code><span class="gp">$ </span>sudo su -s /bin/bash homeassistant
<span class="gp">$ </span><span class="nb">source</span> /srv/homeassistant/bin/activate
</code></pre>
</div>
<p>请根据手机平台选择获取 token 的方法：</p>
<h3>Windows &amp; Android</h3>
<ol>
  <li>通过米家 app 连接扫地机器人；</li>
  <li>打开手机的开发者模式和 USB 调试模式，将手机连至电脑；</li>
  <li>获取 ADB 工具：https://developer.android.com/studio/releases/platform-tools.html</li>
  <li>创建 com.xiaomi.smarthome 的应用备份:</li>
</ol>
<div class="language-bash highlighter-rouge"><pre class="highlight"><code>.<span class="se">\a</span>db backup -noapk com.xiaomi.smarthome -f backup.ab
</code></pre>
</div>
<ol>
  <li>如果你的终端显示如下信息: “More than one device or emulator”，使用下列指令显示所有设备：
    <div class="language-bash highlighter-rouge"><pre class="highlight"><code>.<span class="se">\a</span>db devices
</code></pre>
    </div>
    <p>并执行下列指令：</p>
  </li>
</ol>
<div class="language-bash highlighter-rouge"><pre class="highlight"><code>.<span class="se">\a</span>db -s DEVICEID backup -noapk com.xiaomi.smarthome -f backup.ab <span class="c"># (with DEVICEID the device id from the previous command)</span>
</code></pre>
</div>
<ol>
  <li>在手机上选择确认备份，请勿输入任何密码；</li>
  <li>获取 ADB 备份提取工具：https://sourceforge.net/projects/adbextractor/</li>
  <li>提取所有备份文件：</li>
</ol>
<div class="language-bash highlighter-rouge"><pre class="highlight"><code>java.exe -jar ../android-backup-extractor/abe.jar unpack backup.ab backup.tar <span class="s2">""</span>
</code></pre>
</div>
<ol>
  <li>解压 “.tar” 文件；</li>
  <li>使用 SQLite Manager 等类似工具，打开 sqlite 文件 miio2.db；</li>
  <li>获取 “devicerecord” 数据表，即 token。</li>
</ol>
<h3>macOS &amp; iOS</h3>
<ol>
  <li>通过米家 app 连接扫地机器人；</li>
  <li>通过 iTunes 创建备份；</li>
  <li>安装 iBackup Viewer ：http://www.imactools.com/iphonebackupviewer/</li>
  <li>提取文件 <strong><code class="highlighter-rouge">/raw data/com.xiami.mihome/1234567_mihome.sqlite</code></strong> 至你的电脑， <em>1234567</em> 可以是任何数字，请自行寻找</li>
  <li>使用 notepad 或其他编译器打开文件。你会看到一系列的设备和秘钥，你需要的 token 在 <strong><code class="highlighter-rouge">ZToken</code></strong> 栏中，类似<strong><code class="highlighter-rouge">123a1234567b12345c1d123456789e12</code></strong>.</li>
</ol>
<h2><a class="title-link" name="configuration" href="#configuration"></a> Configuration</h2>
<p>获取 token 后，在 <code class="highlighter-rouge">configuration.yaml</code>中添加如下配置：</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">vacuum</span><span class="pi">:</span>
<span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">xiaomi</span>
  <span class="s">name</span><span class="pi">:</span> <span class="s1">'</span><span class="s">name</span><span class="nv"> </span><span class="s">of</span><span class="nv"> </span><span class="s">the</span><span class="nv"> </span><span class="s">robot'</span>
  <span class="s">host</span><span class="pi">:</span> <span class="s">192.168.1.2</span>
  <span class="s">token</span><span class="pi">:</span> <span class="s">your-token-here</span>
</code></pre>
</div>
<p>变量说明：</p>
<ul>
  <li><strong>name</strong> (<em>可选</em>): 机器人昵称</li>
  <li><strong>host</strong> (<em>必需</em>): 机器人 IP</li>
  <li><strong>token</strong> (<em>必需</em>): 机器人 token</li>
</ul>
<h3><a class="title-link" name="platform-services" href="#platform-services"></a> Platform services</h3>
<p>除了扫地机器人通用的指令 <a href="/components/vacuum#component-services">vacuum component services</a> (<code class="highlighter-rouge">turn_on</code>, <code class="highlighter-rouge">turn_off</code>, <code class="highlighter-rouge">start_pause</code>, <code class="highlighter-rouge">stop</code>, <code class="highlighter-rouge">return_to_home</code>, <code class="highlighter-rouge">locate</code>, <code class="highlighter-rouge">set_fanspeed</code> and <code class="highlighter-rouge">send_command</code>), 小米平台另外还支持一些特殊的指令，包括：
<code class="highlighter-rouge">xiaomi_remote_control_start</code>, <code class="highlighter-rouge">xiaomi_remote_control_stop</code>, <code class="highlighter-rouge">xiaomi_remote_control_move</code> 和 <code class="highlighter-rouge">xiaomi_remote_control_move_step</code>.</p>
<h4><a class="title-link" name="service-vacuumxiaomi_remote_control_start" href="#service-vacuumxiaomi_remote_control_start"></a> Service <code class="highlighter-rouge">vacuum/xiaomi_remote_control_start</code></h4>
<p>使用特殊指令，首先请开启扫地机器人的手动控制模式。开启后你便可以使用<code class="highlighter-rouge">remote_control_move</code>和 <code class="highlighter-rouge">remote_control_stop</code>手动控制指令了。</p>
<table>
  <thead>
    <tr>
      <th>属性</th>
      <th>可选性</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">entity_id</code></td>
      <td>是</td>
      <td>指明 ID 仅对部分设备有效，否则全局响应</td>
    </tr>
  </tbody>
</table>
<h4><a class="title-link" name="service-vacuumxiaomi_remote_control_stop" href="#service-vacuumxiaomi_remote_control_stop"></a> Service <code class="highlighter-rouge">vacuum/xiaomi_remote_control_stop</code></h4>
<p>退出远程控制模式</p>
<table>
  <thead>
    <tr>
      <th>属性</th>
      <th>可选性</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">entity_id</code></td>
      <td>是</td>
      <td>指明 ID 仅对部分设备有效，否则全局响应</td>
    </tr>
  </tbody>
</table>
<h4><a class="title-link" name="service-vacuumxiaomi_remote_control_move" href="#service-vacuumxiaomi_remote_control_move"></a> Service <code class="highlighter-rouge">vacuum/xiaomi_remote_control_move</code></h4>
<p>远程控制扫地机器人，确保操作前已经开启远程控制模式 <code class="highlighter-rouge">remote_control_start</code>。</p>
<table>
  <thead>
    <tr>
      <th>属性</th>
      <th>可选性</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">entity_id</code></td>
      <td>是</td>
      <td>指明 ID 仅对部分设备有效，否则全局响应</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">velocity</code></td>
      <td>否</td>
      <td>速度，值区间为 -0.29 至 0.29</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">rotation</code></td>
      <td>否</td>
      <td>旋转， 值区间为 -179° 至 179°</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">duration</code></td>
      <td>否</td>
      <td>持续时间</td>
    </tr>
  </tbody>
</table>
<h4><a class="title-link" name="service-vacuumxiaomi_remote_control_move_step" href="#service-vacuumxiaomi_remote_control_move_step"></a> Service <code class="highlighter-rouge">vacuum/xiaomi_remote_control_move_step</code></h4>
<p>使用此指令进入手动控制模式，执行一项控制命令，然后退出手动控制模式。</p>
<table>
  <thead>
    <tr>
      <th>属性</th>
      <th>可选性</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">entity_id</code></td>
      <td>是</td>
      <td>指明 ID 仅对部分设备有效，否则全局响应</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">velocity</code></td>
      <td>否</td>
      <td>速度，值区间为 -0.29 至 0.29</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">rotation</code></td>
      <td>否</td>
      <td>旋转， 值区间为 -179° 至 179°</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">duration</code></td>
      <td>否</td>
      <td>持续时间</td>
    </tr>
  </tbody>
</table>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/vacuum.xiaomi.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/xiaomi.png' />
  </div>
    <div class='section'>
    Introduced in release: 0.51
    </div>
    <div class='section'>
      This is a platform for
      <a href='/components/vacuum/'>the Vacuum cleaner robots component</a>.
    </div>
          <div class='section'>
          <h1 class='title delta'>Related components</h1>
          <ul class='divided'>
        <li><a href='/components/binary_sensor.xiaomi/'>
          Xiaomi Binary Sensor
        </a></li>
        <li><a href='/components/cover.xiaomi/'>
          Xiaomi Cover
        </a></li>
        <li><a href='/components/xiaomi/'>
          Xiaomi Gateway
        </a></li>
        <li><a href='/components/light.xiaomi/'>
          Xiaomi Light
        </a></li>
        <li><a href='/components/device_tracker.xiaomi/'>
          Xiaomi Router
        </a></li>
        <li><a href='/components/sensor.xiaomi/'>
          Xiaomi Sensor
        </a></li>
        <li><a href='/components/switch.xiaomi/'>
          Xiaomi Switch
        </a></li>
    </ul>
    </div>
    <div class='section'>
    <h1 class="title delta">Category Vacuum</h1>
    <ul class='divided'>
        <li>
            <a href='/components/vacuum.dyson/'>Dyson 360 Eye</a>
        </li>
        <li>
            Xiaomi Mi Robot Vacuum
        </li>
        <li>
            <a href='/components/vacuum.roomba/'>iRobot Roomba</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-100550088-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
