<ul class="menu pull-right">
  {% comment %}
    Example dropdown menu
    <li>
      <a>Getting started <i class="icon icon-caret-down"></i></a>
      <ul>
        <li><a href="/getting-started/">Installing Home Assistant</a></li>
        <li><a href="/getting-started/configuration/">Configuration Basics</a></li>
      </ul>
    </li>
  {% endcomment %}
  <li><a href="/getting-started/">快速开始</a></li>
  <li><a href="/components/">组件</a></li>
  <li><a href="/docs/">使用文档</a></li>
  <li><a href="/cookbook/">范例</a></li>
  <li><a href="/developers/">开发文档</a></li>
  <li><a href="/blog/">博客</a></li>
  <li><a href="/help/">需要帮助？</a></li>
  <li><a href="https://bbs.hassbian.com/forum.php?from=github">中文论坛</a></li>
  <li><a href="https://home-assistant.io">英文官网</a></li>
</ul>
